body {
  background-color: #343a40; /* Dark body background */
  color: #ffffff; /* Light text color */
  font-family: "Montserrat", sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.login-form {
  background-color: #212529; /* Dark form background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Strong shadow */
  width: 100%;
  max-width: 400px; /* Max width for the form */
}

.login-form h3 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff; /* White text for the heading */
}

.form-control {
  background-color: #495057; /* Darker input background */
  border: 1px solid #6c757d; /* Light border */
  color: #ffffff; /* Input text color */
}

.form-control:focus {
  background-color: #495057; /* Keep same background on focus */
  border-color: #007bff; /* Blue border on focus */
  box-shadow: none; /* Remove default focus shadow */
  color: white;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgba(236, 227, 227, 0.678);
}

.btn-primary {
  background-color: #007bff; /* Button background color */
  border-color: #007bff; /* Button border color */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-color: #004a99; /* Darker border on hover */
}

.form-text {
  color: #adb5bd; /* Light gray for helper text */
}
